<div class="container-fluid px-1 py-2" >
    <h1 class="display-1">You searched for : {{searchTerm}}</h1>

<ng-container *ngIf="resultsArr" > 
    <form class="form-inline" [formGroup]="sortForm" (ngSubmit)="sortArticles()">
<ng-select  class="w-25"  [searchable]="false" [clearable]="false" [clearSearchOnAdd]="false" formControlName="sortOption" >
    <ng-option *ngFor="let option of sortOptions" [value]="option">{{option}}
    </ng-option>
</ng-select>
<button class="btn btn-outline-success my-2 my-sm-0" type="submit"  >Sort</button>
</form>

<div infinite-scroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="loadMoreArticles()">

    <div class="row" >
            <div *ngFor="let result of resultsArr" class="col-sm-3 py-2">
            <div class="card h-100">
                <div class="card-body">
                    <div class="img-container">
                    <img *ngIf="result.urlToImage"  src="{{result.urlToImage}}" width="100%">
                    <img *ngIf="!result.urlToImage"  src="./assets/images/noImage.jpg">
                </div>
                <h3 class="card-title" *ngIf="result.title">{{result.title}}</h3>
                <h3 class="card-title" *ngIf="result.title==''|| !result.title">Title not available</h3>
                <p class="card-subtitle mt-2 mb-2  fst-italic" *ngIf="result.source.name" >{{result.source.name}}</p>
                <p class="card-subtitle mt-2 mb-2  fst-italic"  *ngIf="result.source.name==''|| !result.source.name">Article source not available</p>

                <p class="card-text" *ngIf="result.description">{{result.description}}</p>
                <p class="card-text" *ngIf="result.description=='' || !result.description">Article description not available</p>
                   <button class="btn btn-info " [routerLink]="['/article-details', prepareData(result)]" >
                       Read More
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center  pb-lg-5" *ngIf="loader && !resultsLength" >
        <div class="spinner-border" role="status">
        </div>
    </div>
</div>
</ng-container>
<ng-container *ngIf=" !resultsArr" >
    <div class="centered-container"> <h3 class="display-3">No results</h3></div>
</ng-container>
</div>
