

<div class="container-fluid px-1 py-2" >

<ng-container *ngIf="topHeadlinesArr" > 

    <h1 class="display-1">Top Headlines</h1>
    <div infinite-scroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="loadMoreHeadlines()">

    <div class="row" >
            <div *ngFor="let headline of topHeadlinesArr" class="col-sm-3 py-2">
            <div class="card h-100">
                <div class="card-body">
                    <div class="img-container">
                    <img *ngIf="headline.urlToImage"  src="{{headline.urlToImage}}" width="100%">
                    <img *ngIf="!headline.urlToImage"  src="./assets/images/noImage.jpg">
                </div>
                    <h3 class="card-title" *ngIf="headline.title">{{headline.title}}</h3>
                    <h3 class="card-title" *ngIf="headline.title==''||!headline.title">Title not available</h3>
                    <p class="card-subtitle mt-2 mb-2  fst-italic" *ngIf="headline.source.name" >{{headline.source.name}}</p>
                    <p class="card-subtitle mt-2 mb-2  fst-italic"  *ngIf="headline.source.name==''|| !headline.source.name">Article source not available</p>

                    <p class="card-text" *ngIf="headline.description">{{headline.description}}</p>
                    <p class="card-text" *ngIf="headline.description=='' || !headline.description">Article description not available</p>
                   <button class="btn btn-info " [routerLink]="['article-details', prepareData(headline)]" >
                       Read More
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center  pb-lg-5" *ngIf="loader && !resultsLength" >
        <div class="spinner-border" role="status">
        </div>
    </div>
</div>
</ng-container>

<ng-container *ngIf=" !topHeadlinesArr" >
    <div class="centered-container"> <h3 class="display-3">No results</h3></div>
</ng-container>
</div>