
.img-container{
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  padding: 55% 0 0 0; /* 34.37% = 100 / (w / h) = 100 / (640 / 220) */
}
img {

  display: block;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card-body {
  display: flex;
  flex-direction: column;
}

button.btn {
  margin-top: auto;
}

.ev-loading-bar:before {
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #0dcaf0;
  animation: ev-loading-bar 2s linear infinite;
}

@keyframes ev-loading-bar {
  from {
    left: -200px;
    width: 30%;
  }
  50% {
    width: 30%;
  }
  70% {
    width: 70%;
  }
  80% {
    left: 50%;
  }
  95% {
    left: 120%;
  }
  to {
    left: 100%;
  }
}
