<!-- <div class="container-fluid px-1 py-2" *ngIf="!loading">
    <div class="row">
        <div *ngFor="let headline of topHeadlinesArr" class="col-lg-3 mt-3 mb-3">
             <p-card header="{{headline.title}}" subheader="{{headline.author}}" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img *ngIf="headline.urlToImage"  src="{{headline.urlToImage}}">
                    <img *ngIf="!headline.urlToImage"  src="./assets/images/noImage.jpg">
                </ng-template>
                <p *ngIf="headline.description">{{headline.description}}</p>
                <ng-template pTemplate="footer" *ngIf="headline.url">
                    <p-button label="Read More" [style]="{width: '100%'}"></p-button>
                </ng-template>
            </p-card> 
        </div>
    </div>
</div> -->



<div class="container-fluid px-1 py-2" *ngIf="!loading">
  
    <div class="row">
     
            <div *ngFor="let headline of topHeadlinesArr" class="col-lg-3 py-2">
            <div class="card h-100">
                <div class="card-body">
                    <div class="img-container">
                    <img *ngIf="headline.urlToImage"  src="{{headline.urlToImage}}" width="100%">
                    <img *ngIf="!headline.urlToImage"  src="./assets/images/noImage.jpg">
                </div>
                    <h3 class="card-title">{{headline.title}}</h3>
                    <p class="card-subtitle mt-2 mb-2  fst-italic">{{headline.source.name}}</p>

                    <p class="card-text" *ngIf="headline.description">{{headline.description}}.</p>
                    <button class="btn btn-info ">
                        <a href="#"></a>
                        Read More
                    </button>
                </div>
            </div>
        </div>
 
    </div>
</div>